
.sidebar {
  width: 250px;
  margin-top: 0px;
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  font-size: 14px;
  font-family: Arial, sans-serif;
  right: 0;
  top: 0px;
}


.add {
  position: absolute;
  font-size: 12px;
  top: 150px;
  right: 30px;
  display: flex;
  white-space: nowrap;
}


.login {
  position: absolute;
  font-size: 12px;
  top: 200px;
  right: 30px;
  display: flex;
  white-space: nowrap;
}

.logout{
  position: absolute;
  font-size: 12px;
  top: 250px;
  right: 30px;
  display: flex;
  white-space: nowrap;
}

