<div class="sidebar">
  <div class="add" *ngIf="tokenService.currentUser !== null &&
  tokenService.currentUser.authorities?.includes('AUTHOR')">
    <p>Add to knowledge</p>
    <button class="button buttonAdd" type="button" (click)="addKnowledge()">
    </button>
  </div>


  <div class="login">
    <p>Login</p>
    <button class="button buttonLogin" type="button" (click)="login()">
    </button>
  </div>
  <div class="logout" *ngIf="tokenService.currentUser !== null">
    <p>Logout</p>
    <button class="button buttonLogout" type="button" (click)="logout()">
    </button>
  </div>

</div>
