<div class="sidebar">
  <div class="add">
    <p>Dodaj do bazy wiedzy</p>
    <button class="button buttonAdd" type="button" (click)="addKnowledge()">
    </button>
  </div>
  <div class="categoriesSearch">
    <p>Przejdź do kategorii</p>
    <button class="button buttonToCategories" type="button" (click)="navigateToCategories()">
    </button>
  </div>

  <div class="login">
    <p>Login</p>
    <button class="button buttonLogin" type="button" (click)="login()">
    </button>
  </div>
  <div class="logout">
    <p>Logout</p>
    <button class="button buttonLogout" type="button" (click)="logout()">
    </button>
  </div>

</div>
