
.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  z-index: 1;
}

app-navbar-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1000;
  backdrop-filter: blur(10px);
}


app-sidebar-detail {
  position: fixed;
  top: 120px;
  right: 0;
  width: 250px;
  height: calc(100vh - 50px);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  backdrop-filter: blur(10px);
  z-index: 900;
}


.content-area {
  position: fixed;
  top: 200px;
  left: 100px;
  right: 100px;
  height: 100%;
  width: 700px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border: none;
  border-radius: 20px;
  overflow: auto;
  z-index: 3;
}
