
<div class="content">

  <div class="search-area">
    <div class="searchAdvanced">
      <form (submit)="searchKnowledgeAdvanced(attr1.value); $event.preventDefault()">
        <input #attr1 type="text" placeholder="Type title / content" />
        <button type="submit">Search advanced</button>
      </form>
    </div>

    <div class="searchSimple">
      <form (submit)="searchKnowledgeSimple(attr2.value); $event.preventDefault()">
        <input #attr2 type="text" placeholder="Type title" />
        <button type="submit">Search simple</button>
      </form>
    </div>

    <div class="categoriesSearch">
      <label for="categories">Select Categories</label><br/>
      <select id="categories" multiple [(ngModel)]="selectedCategories" class="formControl">
        <option *ngFor="let category of categories" [ngValue]="category">
          {{ category.categoryName }}
        </option>
      </select>
      <button type="submit" (click)="loadKnowledgeFromCategories()">Search selected categories</button>
    </div>


    <div class="authorSearch">
      <label for="authors">Select Authors</label><br/>
      <select id="authors" multiple [(ngModel)]="selectedAuthors" class="formControl">
        <option *ngFor="let author of authors" [ngValue]="author">
          {{ author.firstName + " " + author.lastName }}
        </option>
      </select>
      <button type="submit" (click)="loadKnowledgeFromAuthors()">Search selected authors</button>
    </div>

    <div class="showAllKnowledge">
      <button type="submit" (click)="loadKnowledge()">Show all knowledge</button>
    </div>



  </div>

  <div class="card-container">
    <mat-card
      *ngFor="let k of knowledge">
        <mat-card-header>
          <mat-card-title>{{ k.title }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>{{ getFirstWords(k.content, 20) }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="button buttonDetails" type="button" (click)="selectKnowledge(k)">Details</button>
        </mat-card-actions>

    </mat-card>
  </div>
</div>






