.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    background-color: white;
    color: black;
    margin-top: 100px;
}

.card-container mat-card {
  background-color: white;
}

.search-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.searchAdvanced,
.searchSimple {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
}

.searchSimple {
  top: 60px;
}
