
<div class="content">

  <div class="search-area">
    <div class="searchAdvanced">
      <form (submit)="searchKnowledgeAdvanced(attr1.value); $event.preventDefault()">
        <input #attr1 type="text" placeholder="Type title/content/category" />
        <button type="submit">Search advanced</button>
      </form>
    </div>

    <div class="searchSimple">
      <form (submit)="searchKnowledgeSimple(attr2.value); $event.preventDefault()">
        <input #attr2 type="text" placeholder="Type title" />
        <button type="submit">Search simple</button>
      </form>
    </div>

    <div class="categoriesSearch">
      <p>Search by categories</p>
      <button class="button buttonToCategories" type="button" (click)="searchByCategories()">
      </button>
    </div>
  </div>



  <div class="card-container">
    <mat-card
      *ngFor="let k of knowledge">
        <mat-card-header>
          <mat-card-title>{{ k.title }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>{{ getFirstWords(k.content, 20) }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="button buttonDetails" type="button" (click)="selectKnowledge(k)">Details</button>
        </mat-card-actions>

    </mat-card>
  </div>
</div>






