<div class="content">
  <p class="user-info">{{ user?.firstName + " " + user?.lastName }}</p>
  <p class="user-info">Email: {{ user?.email }}</p>
  <p class="user-info">Is account locked: {{ user?.accountLocked }}</p>
  <p class="user-info">Is account enabled: {{ user?.enabled }}</p>
  <p class="user-info">Account created date: {{ user?.createdDate }}</p>
  <p class="user-info">Account last modified date: {{ user?.lastModifiedDate }}</p>
  <p class="user-info">User roles:</p>
  <ul class="roles-list">
    <li *ngFor="let role of user?.roles" class="role-info">{{ role.name }}</li>
  </ul>

  <div class="content-change-user">
    <form [formGroup]="userForm" (ngSubmit)="onSubmitChangeNameAndSurname()">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input
          id="firstName"
          type="text"
          formControlName="firstName"
          class="form-control"
          placeholder="Enter new first name"
        />
        <div *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched">
          <small *ngIf="userForm.get('firstName')?.errors?.['required']">First name is required.</small>
          <small *ngIf="userForm.get('firstName')?.errors?.['minlength']">
            First name must be at least 2 characters long.
          </small>
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input
          id="lastName"
          type="text"
          formControlName="lastName"
          class="form-control"
          placeholder="Enter new last name"
        />
        <div *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched">
          <small *ngIf="userForm.get('lastName')?.errors?.['required']">Last name is required.</small>
          <small *ngIf="userForm.get('lastName')?.errors?.['minlength']">
            Second name must be at least 2 characters long.
          </small>
        </div>
      </div>

      <button type="submit" class="button buttonSubmit">
        Update Name and Surname
      </button>
    </form>
  </div>

  <div class="content">
    <p>My comments</p>
    <table class="comments-table">
      <thead>
      <tr>
        <th>Knowledge Title</th>
        <th>Knowledge Content</th>
        <th>Comment Created Time</th>
        <th>Comment Content</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let comment of comments" (click)="navigateToKnowledge(comment.knowledge?.idKnowledge)">
        <td>{{ comment.knowledge?.title || 'No title available' }}</td>
        <td>{{ getFirstWords(comment.knowledge?.content || 'No content available', 20) }}</td>
        <td>{{ comment.createdDate || 'No date available' }}</td>
        <td>{{ comment.content || 'No comment content available' }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
