<div class="content">
  <div class="pagebutton back">
    <button class="button buttonBack" type="button" (click)="backToKnowledge()">
    </button>
    <p>Back</p>
  </div>

  <div class="knowledge-edit-container ">
    <form [formGroup]="knowledgeForm">

      <div class="formGroup">
        <label class="label" for="title">Title</label>
        <textarea type="text" class="formControl" id="title" formControlName="title"></textarea>
        <div *ngIf="knowledgeForm?.get('title')?.invalid && knowledgeForm?.get('title')?.touched" class="textDanger">
          Title is required. Must contain only numbers and letters.
        </div>
      </div>

      <div class="formGroup">
        <label class="label" for="content">Content</label>
        <textarea type="text" class="formControl" id="content" formControlName="content"></textarea>
        <div *ngIf="knowledgeForm?.get('content')?.invalid && knowledgeForm?.get('content')?.touched" class="textDanger">
          Content is required.
        </div>
      </div>

    </form>

    <div class="formGroup">
      <label for="categories">Select Categories</label>
      <select id="categories" multiple [(ngModel)]="selectedCategories" class="formControl">
        <option *ngFor="let category of categories" [ngValue]="category.categoryName">
          {{ category.categoryName }}
        </option>
      </select>
    </div>

  </div>

  <button type="button" class="button buttonSubmit" (click)="onSubmit()">Add</button>


</div>
