<div class="content">
  <div class="pagebutton back">
    <button class="button buttonBack" type="button" (click)="backToKnowledge()">
    </button>
    <p>Back</p>
  </div>

  <div class="knowledge-edit-container ">
    <form [formGroup]="knowledgeForm" (ngSubmit)="onSubmit()">

      <div class="formGroup">
        <label class="label" for="title">Title</label>
        <textarea type="text" class="formControl" id="title" formControlName="title"></textarea>
        <div *ngIf="knowledgeForm?.get('title')?.invalid && knowledgeForm?.get('title')?.touched" class="textDanger">
          Title is required. Must contain only numbers and letters.
        </div>
      </div>

      <div class="formGroup">
        <label class="label" for="content">Content</label>
        <textarea type="text" class="formControl" id="content" formControlName="content"></textarea>
        <div *ngIf="knowledgeForm?.get('content')?.invalid && knowledgeForm?.get('content')?.touched" class="textDanger">
          Content is required.
        </div>
      </div>

      <button type="submit" class="button buttonSubmit">Add</button>
    </form>
  </div>

</div>
