.knowledge-edit-container {
  font-family: Arial, sans-serif;
  font-size: 14px;
  max-width: 100%; /* Ensure it doesn't exceed the parent */
  padding: 20px;
  background-color: #fff; /* White background */
  border: 1px solid #ccc; /* Optional: Border for clarity */
  border-radius: 10px; /* Rounded corners */
  box-sizing: border-box; /* Include padding and border in total width */
}



.back {
  font-family: Arial, sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center; /* Align text with the button */
  gap: 5px; /* Add spacing between button and text */
}

#title, #content, #author {
  width: 100%; /* Full width of the parent container */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc; /* Add a border to inputs */
  border-radius: 5px; /* Optional: Rounded corners for inputs */
  box-sizing: border-box; /* Include padding and border in size calculations */
  vertical-align: top;
  line-height: 1.5;
  text-align: start;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.smallCheckbox {
  width: 14px;
  height: 14px;
  margin-left: 8px; /* Add space between label and checkbox */
  vertical-align: middle; /* Align checkbox with text */
}
