<div class="content">
  <div class="knowledge-detail-container">
    <div class="pagebutton back" *ngIf="!knowledgeForm">
      <button class="button buttonBack" type="button" (click)="backToKnowledge()">
      </button>
      <p>Back</p>
    </div>

    <div class="pagebutton delete" *ngIf="knowledge !knowledgeForm">
      <p>Delete</p>
      <button class="button buttonRemove" type="button" (click)="deleteKnowledge(knowledge)">
      </button>
    </div>

    <div class="pagebutton edit" *ngIf="knowledge !knowledgeForm">
      <p>Edit</p>
      <button class="button buttonEdit" type="button" (click)="editKnowledge(knowledge)">
      </button>
    </div>

    <div *ngIf="knowledge && !knowledgeForm">
      <p id="title">{{ knowledge.title }}</p>
      <p>{{ knowledge.content }}</p>
      <ul>
        <li *ngFor="let c of knowledge.knowledgeCategories">category: {{c.groupId.idCategory}}, knowledge: {{c.groupId.idKnowledge}} </li>
      </ul>
    </div>

    <ng-container *ngIf="knowledgeForm">
      <p>Edit</p>
      <form [formGroup]="knowledgeForm" (ngSubmit)="onSubmit()">

        <div class="formGroup">
          <label class="label" for="titleEdit">Tytuł</label>
          <input type="text" class="formControl" id="titleEdit" formControlName="title">
          <div *ngIf="knowledgeForm?.get('title')?.invalid && knowledgeForm?.get('title')?.touched" class="textDanger">
            Title is required.
          </div>
        </div>

        <div class="formGroup">
          <label class="label" for="contentEdit">Content</label>
          <input type="text" class="formControl" id="contentEdit" formControlName="content">
          <div *ngIf="knowledgeForm?.get('content')?.invalid && knowledgeForm?.get('content')?.touched" class="textDanger">
            Content is required.
          </div>
        </div>


        <div class="formGroup">
          <label class="label" for="authorEdit">Author</label>
          <input type="text" class="formControl" id="authorEdit" formControlName="author">
          <div *ngIf="knowledgeForm?.get('author')?.invalid && knowledgeForm?.get('author')?.touched" class="textDanger">
            Please enter author.
          </div>
        </div>

        <button type="submit" class="button buttonSubmit">Submit</button>
      </form>
    </ng-container>
  </div>
</div>
