<div class="content">
  <div class="knowledge-detail-container">
    <div class="pagebutton back" *ngIf="!knowledgeForm ">
      <button class="button buttonBack" type="button" (click)="backToKnowledge()">
      </button>
      <p>Back</p>
    </div>

    <div
      class="pagebutton delete"
      *ngIf="canDelete === true">
      <p>Delete</p>
      <button class="button buttonRemove" type="button" (click)="deleteKnowledge(knowledge!)">
      </button>
    </div>

    <div
      class="pagebutton edit"
      *ngIf="canEdit === true">
      <p>Edit</p>
      <button class="button buttonEdit" type="button" (click)="editKnowledge(knowledge!)">
      </button>
    </div>

    <div *ngIf="knowledge">
      <p id="title">{{ knowledge.title }}</p>
      <p>{{ knowledge.content }}</p>
      <p>Categories: {{ formattedCategories }}</p>
    </div>

    <ng-container *ngIf="knowledgeForm">
      <p>Edit</p>
      <form [formGroup]="knowledgeForm">

        <div class="formGroup">
          <label class="label" for="titleEdit">Title</label>
          <textarea type="text" class="formControl" id="titleEdit" formControlName="titleEdit"></textarea>
          <div *ngIf="knowledgeForm?.get('titleEdit')?.invalid && knowledgeForm?.get('titleEdit')?.touched" class="textDanger">
            Title is required.
          </div>
        </div>

        <div class="formGroup">
          <label class="label" for="contentEdit">Content</label>
          <textarea type="text" class="formControl" id="contentEdit" formControlName="contentEdit"></textarea>
          <div *ngIf="knowledgeForm?.get('contentEdit')?.invalid && knowledgeForm?.get('contentEdit')?.touched" class="textDanger">
            Content is required.
          </div>
        </div>

        <div class="formGroup">
          <label class="label" for="isPublicKnowledgeEdit">Public Knowledge</label>
          <input
            type="checkbox"
            id="isPublicKnowledgeEdit"
            class="formControl smallCheckbox"
            formControlName="isPublicKnowledgeEdit"
          />
        </div>

      </form>

      <div class="formGroup">
        <label for="categoriesEdit">Select Categories</label>
        <select id="categoriesEdit" multiple [(ngModel)]="selectedCategories" class="formControl">
          <option *ngFor="let category of categories" [ngValue]="category.categoryName">
            {{ category.categoryName }}
          </option>
        </select>
      </div>
      <button type="button" class="button buttonSubmit" (click)="onSubmit()">Add</button>

    </ng-container>

    <div class="card-container">
      <mat-card
        *ngFor="let c of comments">

        <mat-card-content>
          <p>Author: {{ c.user.firstName + " " + c.user.lastName  }}</p>
          <p>Created date: {{ c.createdDate }}</p>
          <p>{{ c.content }}</p>
        </mat-card-content>

        <mat-card-actions>
          <button class="button buttonDelete" type="button" (click)="deleteComment(c.groupId)">Delete</button>
        </mat-card-actions>

      </mat-card>
    </div>

    <ng-container *ngIf="commentForm">
      <p>Comments</p>
      <form [formGroup]="commentForm" (ngSubmit)="onSubmitComment()">

        <div class="formGroup">
          <label class="label" for="content">Content</label>
          <textarea type="text" class="formControl" id="content" formControlName="content" required></textarea>
          <div *ngIf="commentForm.get('content')?.touched && commentForm.get('content')?.invalid" class="error">
            Content is required.
          </div>
        </div>

        <button type="submit" class="button buttonSubmit">Submit Comment</button>
      </form>
    </ng-container>
  </div>
</div>
