body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.wrapper {
  width: 500px;
  padding: 20px;
  height: 200px;
}

.pagebutton {
    font-family: Arial, sans-serif;
    position: absolute;
    font-size: 12px;
    display: flex;
    white-space: nowrap;
    gap: 10px;
}

.back  {
  top: 10px;
  left: 30px;
}



#title {
  font-size: 24px;
}


.edit {
  top: 60px;
  right: 30px;
}

.delete {
  top: 20px;
  right: 30px;
}


.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.buttonSubmit {
  width: 90px;
}

.knowledge-detail-container {
   width: 100%;
   max-width: 600px;
   text-align: center;
   background-color: white;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.formGroup {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formControl {
  width: 300px;
  height: 400px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  vertical-align: top;
  line-height: 1.5;
  text-align: start;
}

#titleEdit, #contentEdit, #authorEdit {
  width: 100%; /* Full width of the parent container */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc; /* Add a border to inputs */
  border-radius: 5px; /* Optional: Rounded corners for inputs */
  box-sizing: border-box; /* Include padding and border in size calculations */
  vertical-align: top;
  line-height: 1.5;
  text-align: start;
}
