<div class="password-reset-container">
  <h2>Password Reset</h2>

  <p>{{ message }}</p>

  <!--Request Password Reset -->
  <div *ngIf="step === 'request'">
    <h3>Request Password Reset</h3>
    <form (ngSubmit)="requestReset()">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required />
      <button type="submit" class="btn btn-link">Send Reset Link</button>
    </form>
  </div>

  <!--  Change Password (Validate Token) -->
  <div *ngIf="step === 'change'">
    <h3>Enter New Password</h3>
    <label for="token">Enter Token:</label>
    <input type="text" id="token" [(ngModel)]="token" />
    <form (ngSubmit)="validateToken()">
      <button type="submit" class="btn btn-link">Validate Token</button>
    </form>
  </div>

  <!-- Save New Password -->
  <div *ngIf="step === 'save'">
    <h3>Set Your New Password</h3>
    <form (ngSubmit)="savePassword()">
      <label for="newPassword">New Password:</label>
      <input
        type="password"
        id="newPassword"
        [(ngModel)]="newPassword"
        name="newPassword"
        required
      />
      <label for="confirmPassword">Confirm Password:</label>
      <input
        type="password"
        id="confirmPassword"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required
      />
      <button type="submit" class="btn btn-link">Save Password</button>
    </form>
  </div>
  <div>
    Back to Login
    <button (click)="redirectToLogin()" type="button" class="btn btn-link">
      Log in
    </button>
  </div>
</div>
